.shortened-url {
    margin-top: 20px;
    word-break: break-all;
}
.outputContainer{
    background-color: #fdfdfd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}